* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "myriad pro";
	font-weight: normal;
}

#wrapper {
	width:100%;
	background: #F3F3F3;
	height: 100%;
	display:block; /*for popup*/
}
#header {
	height: 50px;
	background-color: #323232;
	position: fixed;
	width: 100%;
	z-index: 100;
}
#inner_header {
	margin:0 auto;
	width:800px;
}
#content {
	width: 800px;
	margin: 0 auto;
	background: #FFF none repeat scroll 0% 0%;
	height: 100%;
	position: relative;
	padding-top: 40px;
	min-height: 600px;
}
#full_content {
	margin: 0px auto;
	width: 910px;
}
#logo {
	position: relative;
	float: left;
	padding-top:10px;
	padding-left:16px;
}
#logo a {
	color:#F3F3F3;
	font-size: 24px;
	text-decoration: none;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}
#search_menu {
	float:right;
	position: relative;
}
#search_icon {
	display: inline;
	float: left;
	padding-top: 5px;
}
#search_icon img {
	width:22px;
	padding-right: 16px;
	padding-left: 8px;
}
.search_input_div {
	display: inline;
	float: left;
	padding-top: 5px;
	padding-left: 5px;
}
.search_input_div input {
	height:22px;
}
#top_menu {
	position: relative;
	float: left;
	padding-top: 15px;
}
.top_menu_ul {
	list-style: none;
}
.top_menu_ul li {
	display: inline-block;
	border-right: 3px solid #545454;
	width: 80px;
	color:#F3F3F3;
	text-align: center;
}
.top_menu_ul li a {
	color:white;
	text-decoration: none;
	font-size: 14px;
}
.top_menu_ul li:last-child {
	border-right: none;
}
#search {
	position: relative;
	float: left;
	padding-top: 10px;
}
#left_menu_out {
	background-color: #E8E8E8;
	display: block;
	height: 100%;
	position: relative;
	float: left;
	padding-top: 50px;
}
#left_menu {
	float: left;
	position: fixed;
	background-color: #E8E8E8;
	text-align: center;
	height:100%;
}
.left_menu_elem {
	width: 40px;
	padding: 8px;
}
.left_menu_elem:hover {
	background: white;
}

.active { /*left menu*/
	background: white;
}

.left_menu_elem p {
	font-size: 10px;
	color:black;
}
.left_menu_link {
	text-decoration: none;
}
.left_menu_link img{
	width:25px;
	padding-left:8px;
	padding-right:8px;
}
#dynamic_blocks {
	height: 100%;
	position: relative;
	display: block;
	padding: 15px;
	text-align: center;
	float: left;;
}
#big_blocks {
	margin: 0 auto;
}
#big_block {
	float: left;
	width: 400px;
	height:250px;
	background: #E9E9E9;
	margin: 30px;
}

#middle_blocks {
	margin-left: 10px;
	height: 100%;
	width:100%;
	float: left;
}
#middle_block {
	float: left;
	width: 240px;
	height: 150px;
	background: #E9E9E9;
	margin: 30px;
	text-align: center;
}
#main_content {
	margin:45px;
	background: #E9E9E9;
	width:860px;
	height:500px;
	position: relative;
	display: block;
	float: left;;
}
#footer {
	height: 40px;
	background-color: #323232;
	width:100%;
	text-align: center;
	position: relative;
	bottom: 0;
}
@media screen and (max-height: 400px) {
	#footer {
		display: none;
	}
}
#copyright {
	margin: 0 auto;
	position: relative;
	padding-top:10px;
}
.copy {
	color: #F3F3F3;
}
#breadcrumbs {
	width: 800px;
	background-color: #F7F7F7;
	height: 45px;
	position: fixed;
	vertical-align: middle;
	margin-top: 10px;
}
#breadcrumbs h1 {
	font-size: 20px;
	margin-left: 25px;
	font-weight: normal;
	margin-top:10px;
}
#news_list {
	display: block;
	margin-top:65px;
	margin-left:25px;
	width:750px;
	margin-right: 25px;
	background: #F7F7F7;
}
#news_list ul {
	list-style: none;
}
#news_list li {
	list-style: none;
	padding-bottom:10px;
}
.news_element {
	display:block;
	float: left;
	margin-bottom: 5px;
	width:750px;
}
.news_element h3 {
	background: #DDD none repeat scroll 0px 0px;
	font-size: 18px;
	font-weight: normal;
	padding-left: 10px;
	height: 30px;
	line-height:30px;

}
.news_prev_text {
	font-size: 14px;
	font-weight: normal;
	margin: 10px;
	text-align: justify;
	width: 725px;
}
.news_prev_text img {
	margin: 10px 0 10px 0;
}
.news_prev_text p {
	margin-bottom: 10px;
}
.news_img {
	text-align: center;
}
.news_date {
	float:right;
	color:#A7A7A7;
	font-style: italic;
	font-size: 12px;
	margin-right: 10px;
}
#layout {
	display: none;
	background: black;
	opacity: .70;
	z-index:9998;
	position:fixed;
	width:100%;
	height:100%;
}
#popup {
	display: none;
	width: 910px;
	z-index: 999999;
	margin: 0 auto;
	position: relative;
}
#popup_content {
	display: none;
	padding: 10px;
	background: #FFF none repeat scroll 0% 0%;
	z-index: 99999;
	position: absolute;
	margin-top: 100px;
	width: 750px;
	float:left;
}

.show_news {
	display: inline;
	float:right;
}
.show_news a{
	text-decoration: none;
	color: #A7A7A7;
	float: right;
	font-size:12px;
}
.hide_news {
	display: inline;
	float:right
}
.hide_news a{
	text-decoration: none;
	color: #A7A7A7;
	float: right;
	font-size:12px;
}
#login_content {
	width: 450px;
	margin: 0 auto;
	padding-top: 50px;
	background-color: white;
	height: 600px;
}
#h1_login {
	height: 45px;
	text-align: center;
	font-size: 14px;
	background: #F7F7F7;
}
#h1_login h1 {
	padding-top:5px;
}
#login_inner_content {
	margin:25px;
	background: #F6F6F6;
	text-align: center;
}
#h3_login {
	height: 30px;
	text-align: center;
	background: #DDDDDD;
}
#h3_login h3 {
	padding-top:5px;
}
.login_inputs {
	width:305px;
	margin:0 auto;
	padding-bottom: 25px;
}
.input_type {
	padding-top:15px;
	float: left;
	width: 305px;
}
.login_right_link {
	text-align: right;
	font-size: 10px;
	padding-top:5px;
}
.login_right_link a{
	color:black;
}

.login_right_link a:hover{
	text-decoration: blink;
}
.btn-primary {
	width:100%;
	background: black;
	border: 1px solid yellow;
	color: white;
	text-align: center;
	font-weight: bold;
	height:25px;
	margin-top: 15px;
	padding-bottom: 5px;
}
.input_type p {
	font-size: 10px;
	color:red;
}
.input_type label {
	width: 90px;
	font-size: 13px;
	padding: 5px 5px 5px 10px;
	border: 1px solid #cecece;
	background: white;
	float:left;
	display:inline-block;
	border-right:none;
}
.input_type input {
	width: 186px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: white;
	float:right;
	display:inline-block;
}
.input_type select {
	width: 197px;
	height: 29px;
	padding-left:10px;
}

.input_type select option{
	padding-left:10px;
}

#loginform-rememberme {

}