.NewsPage{
    margin-top: 15px;
    position: absolute;
    background: white;
    min-height: 100px;
    right: 350px;
    left: 10px;
    min-width: 400px;
    margin-right: 10px;
    margin-left: 100px;
    box-shadow: 0 0 20px lightgray;
}

.NewsBlock{
    background: lightgrey;
    margin: 20px;
    min-height: 80px;
    box-shadow: 0 0 20px lightgray;
    padding: 15px;

}
